<div>
    <form style="background-color: whitesmoke; height: 1000px; ">
        <div> <img id="main" src="../assets/Ellipse2.png" alt="server error"></div>
        <div> <img id="img" style="left: 200px;" src="../assets/Ellipse.png" alt="server error">Hosp </div>
        <label for="name" name="name" id="label1">Name*</label> <br>
        <input type="text" name="name" id="input1" placeholder=""> <br>
        <label for="name" name="name" id="label2">Experiance*</label> <br>
        <input type="text" name="name" id="input2" placeholder=""><br>
        <label for="name" name="name" id="label3">Address*</label> <br>
        <input type="text" name="name" id="input3" placeholder="">

        

        <div class="address">

           <div class="picode">
            <label class="from-label" for="name">Pincode*</label>
            <select class="cat" >
                <option> </option>
                <option> select 1 </option>
                <option> select 2</option>
                <option> select 3</option>
            </select>
           </div>
           <div class="city">
            <label class="from-label" for="name">City*</label>
            <select class="cat" >
                <option> </option>
                <option> select 1 </option>
                <option> select 2</option>
                <option> select 3</option>
            </select>
           </div>
           <div class="province">
            <label class="from-label" for="name">Province*</label>
            <input class="from-control" type="text">
           </div>
           <div class="industry">
            <label class="from-label" for="name">Industry*</label>
            <select class="cat" >
                <option> </option>
                <option> select 1 </option>
                <option> select 2</option>
                <option> select 3</option>
            </select>
           </div>
           <div class="category">
            <label class="from-label" for="name">Category*</label>
            <select class="cat" >
                <option> </option>
                <option> select 1 </option>
                <option> select 2</option>
                <option> select 3</option>
            </select>
           </div>
        </div>

        <div>
            <label for="name" name="name" id="label3">License</label> <br>
            <input
                style="width: 200px; margin-top: 5px; border-radius: 111px;height: 40px;background-color: white; border-radius: 5px; "
                type="text" name="name" id="input3" placeholder="Doc lic2345">
        </div>
        <div> <label type="date" for="name" name="name" id="label9">Ex. Date </label> </div>
        <div> <input type="date" name="name" id="input9"> </div>
        <div>
            <button class="button">save</button>
        </div>

        

        <!-- <div class="xyz" >
            <label for="name" name="name" id="label5">xyz*</label> <br>
        </div>
        <div>
            <input class="xyzplaceholder" type="text" name="name" placeholder="Doc lic2345">
        </div> -->

    </form>
</div>